/* line 2, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/comments.scss */
.social {
  background: url(/assets/logos-16083714a2b545718ed24d843fbac2ee21a7aef8e9f3241e66d99f186c0269af.png) no-repeat transparent;
  display: inline-block;
}
/* line 5, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/comments.scss */
.social.twitter {
  width: 50px;
  height: 42px;
  background-position: 0 -52px;
}
/* line 11, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/comments.scss */
.social.facebook, .social.facebook:active {
  width: 50px;
  height: 50px;
  background-position: 0 0;
}

/* line 18, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/comments.scss */
#comments {
  max-height: 500px;
  overflow: auto;
}
/* line 3, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.page-wrap {
  padding-left: 40px;
}

/* line 7, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.location {
  margin: 5px 0px 10px 0;
  width: 60%;
  position: relative;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #000000;
  padding: 5px 10px 0px 10px;
}

/* line 18, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.location-cap {
  position: absolute;
  top: 0;
  right: 80px;
}

/* line 24, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.btn-right {
  position: absolute;
  top: 2px;
  right: 2px;
}

/* line 30, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.line {
  padding-bottom: 5px;
  border-bottom: 1px solid #000000;
}

/* line 35, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.red-text {
  color: #D9534F;
}

/* line 39, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.green-text {
  color: #5CB85C;
}

/* line 43, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.sublocation {
  margin: 0px 0px 5px 50px;
  width: 60%;
  position: relative;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #000000;
  padding: 5px;
  padding-left: 25px;
}

/* line 56, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.navbar {
  margin-bottom: 0 !important;
}

/* line 60, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.jumbotron h1, p {
  padding-left: 30px;
}

/* line 64, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.jumbotron btn {
  padding-right: 1000px;
}

/* line 68, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
h2 {
  text-align: left;
}

/* line 72, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.btn1 {
  font-family: 'open sans', sans-serif;
  display: block;
  height: 40px;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  width: 190px;
  font-size: 13px;
  line-height: 2em;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  top: 50%;
  left: 50%;
  color: #fff;
  border: 2px solid #fff;
}
/* line 91, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.btn1:before, .btn1:after {
  width: 0%;
  height: 2px;
  background: #e5c100;
  transition: width .4s ease-in-out;
  content: " ";
}
/* line 100, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.btn1:before {
  left: 0;
  top: -2px;
}
/* line 105, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.btn1:after {
  bottom: -2px;
  right: 0;
}
/* line 110, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.btn1:hover {
  padding: 5px 0px 5px 0px;
  border-color: #e5c100;
  color: #fffbe5;
}
/* line 115, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.btn1:hover:before, .btn1:hover:after {
  width: 100%;
}

/* line 125, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.map-wrap {
  background-image: url(/assets/UCL-map-9c1c6ea75752aee795b2d62b68e97a83ab44705423813e4fd64c25c8f91bafac.svg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  margin-bottom: 337px;
}

/* line 134, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
object {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: 37px;
}

/* line 145, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.cloud {
  background-color: #87CEFA;
  height: 250px;
}

/* clouds */
/* line 150, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.container-cloud {
  height: 0;
  position: relative;
  width: 100%;
  padding-top: 10%;
}

/* line 156, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.svg-cloud01 {
  width: 100%;
  height: 150%;
  fill: #ecf0f1;
  position: absolute;
  top: 0;
  left: -100px;
  z-index: 100;
  overflow-x: hidden;
  -webkit-animation: drift 25s linear infinite;
  -moz-animation: drift 25s linear infinite;
  -o-animation: drift 25s linear infinite;
  -ms-animation: drift 25s linear infinite;
  animation: drift 25s linear infinite;
}

/* line 171, /Users/jiashern/Desktop/workspace-staging/app/assets/stylesheets/main.scss */
.svg-cloud02 {
  width: 100%;
  height: 100%;
  fill: #ecf0f1;
  position: absolute;
  top: 100px;
  left: -50px;
  z-index: 200;
  overflow-x: hidden;
  -webkit-animation: drift 10s linear infinite backwards;
  -moz-animation: drift 10s linear infinite backwards;
  -o-animation: drift 10s linear infinite backwards;
  -ms-animation: drift 10s linear infinite backwards;
  animation: drift 10s linear infinite backwards;
}

/* Animation for the drifting clouds */
@-webkit-keyframes drift {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(100%);
  }
}
@-moz-keyframes drift {
  0% {
    opacity: 1;
    -moz-transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(100%);
  }
}
@-o-keyframes drift {
  0% {
    opacity: 1;
    -o-transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(100%);
  }
}
@-ms-keyframes drift {
  0% {
    opacity: 1;
    -ms-transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateX(100%);
  }
}
@keyframes drift {
  0% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
