<!-- JUMBOTRON -->

	<div class="jumbotron">
  	<h1>Hello, world!</h1>
  	<p>We're still experimenting with this project, so please feel free to give us feedback via this button.</p>
  	<p><a class="btn btn-primary btn-lg" href="http://bit.ly/improveUni" role="button">Feedback plx.</a></p>
	</div>



<div class="page-wrap">



<!-- CAPACITY BARS -->

	<div class="location btn btn-default dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="Show Div" onclick="showDiv()">

  <h2><span>Main Library<span class="caret"></h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
    			20%
  			</div>
		</div>

	</div>

<div id="mainlibrary"  style="display:none;" class="answer_list">

		<div class="sublocation">

	<h2>Main Library Floor 1</h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
    			70%
  			</div>
		</div>

	</div>

		<div class="sublocation">

	<h2>Main Library Floor 2</h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
    			20%
  			</div>
		</div>

		</div>

		<div class="sublocation">

	<h2>Main Library Floor 3</h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 52%">
    			52%
  			</div>
		</div>

		</div>		

</div>


	<div class="location btn btn-default dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="Show Div" onclick="showDiv()">

  <h2>Science Library<span class="caret"></h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
    			20%
  			</div>
		</div>

	</div>

<div id="sciencelibrary"  style="display:none;" class="answer_list">

		<div class="sublocation">

	<h2>Science Library Floor 1</h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
    			70%
  			</div>
		</div>

	</div>

		<div class="sublocation">

	<h2>Science Library Floor 2</h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
    			20%
  			</div>
		</div>

		</div>

		<div class="sublocation">

	<h2>Science Library Floor 3</h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 52%">
    			52%
  			</div>
		</div>

		</div>		

</div>


	<div class="location btn btn-default dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="Show Div" onclick="showDiv()">

  <h2>Archaeology Library<span class="caret"></h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
    			20%
  			</div>
		</div>

	</div>

	<div id="archaeologylibrary"  style="display:none;" class="answer_list">

		<div class="sublocation">

	<h2>Archaeology Library Floor 1</h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
    			70%
  			</div>
		</div>

	</div>

		<div class="sublocation">

	<h2>Archaeology Library Floor 2</h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
    			20%
  			</div>
		</div>

		</div>

		<div class="sublocation">

	<h2>Archaeology Library Floor 3</h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 52%">
    			52%
  			</div>
		</div>

		</div>		

</div>

	<div class="location">

	<h2>Eastman Dental Library</h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    			45%
  			</div>
		</div>

	</div>

	<div class="location">

	<h2>Institute of Child Health Library</h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    			45%
  			</div>
		</div>

	</div>

	<div class="location">

	<h2>Institute of Education Library</h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    			45%
  			</div>
		</div>

	</div>

	<div class="location">

	<h2>Institute of Neurology, Queen Square Library</h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    			45%
  			</div>
		</div>

	</div>

	<div class="location">

	<h2>Institute of Orthopaedics Library</h2>

		<div class="progress">
  			<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    			45%
  			</div>
		</div>

	</div>



 </div>
</body>
</html>