<div class="container-fluid">
  <h1>Live Feed</h1>
  <h3>Teaching rooms open at this time.</h3>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Capacity</th>
        <th>Room</th>
        <th>Time Open</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
        <td>20</td>
        <td>Chadwick G07</td>
        <td>2-4pm</td>
      </tr>
      <tr class="danger">
        <td>30</td>
        <td>Roberts 401</td>
        <td>2-4pm</td>
      </tr>
      <tr class="info">
        <td>50</td>
        <td>Foster Court 210</td>
        <td>2-4pm</td>
      </tr>
            <tr class="success">
        <td>20</td>
        <td>Chadwick G07</td>
        <td>2-4pm</td>
      </tr>
      <tr class="danger">
        <td>30</td>
        <td>Roberts 401</td>
        <td>2-4pm</td>
      </tr>
      <tr class="info">
        <td>50</td>
        <td>Foster Court 210</td>
        <td>2-4pm</td>
      </tr>
            <tr class="success">
        <td>20</td>
        <td>Chadwick G07</td>
        <td>2-4pm</td>
      </tr>
      <tr class="danger">
        <td>30</td>
        <td>Roberts 401</td>
        <td>2-4pm</td>
      </tr>
      <tr class="info">
        <td>50</td>
        <td>Foster Court 210</td>
        <td>2-4pm</td>
      </tr>
            <tr class="success">
        <td>20</td>
        <td>Chadwick G07</td>
        <td>2-4pm</td>
      </tr>
      <tr class="danger">
        <td>30</td>
        <td>Roberts 401</td>
        <td>2-4pm</td>
      </tr>
      <tr class="info">
        <td>50</td>
        <td>Foster Court 210</td>
        <td>2-4pm</td>
      </tr>
            <tr class="success">
        <td>20</td>
        <td>Chadwick G07</td>
        <td>2-4pm</td>
      </tr>
      <tr class="danger">
        <td>30</td>
        <td>Roberts 401</td>
        <td>2-4pm</td>
      </tr>
      <tr class="info">
        <td>50</td>
        <td>Foster Court 210</td>
        <td>2-4pm</td>
      </tr>
            <tr class="success">
        <td>20</td>
        <td>Chadwick G07</td>
        <td>2-4pm</td>
      </tr>
      <tr class="danger">
        <td>30</td>
        <td>Roberts 401</td>
        <td>2-4pm</td>
      </tr>
      <tr class="info">
        <td>50</td>
        <td>Foster Court 210</td>
        <td>2-4pm</td>
      </tr>
            <tr class="success">
        <td>20</td>
        <td>Chadwick G07</td>
        <td>2-4pm</td>
      </tr>
      <tr class="danger">
        <td>30</td>
        <td>Roberts 401</td>
        <td>2-4pm</td>
      </tr>
      <tr class="info">
        <td>50</td>
        <td>Foster Court 210</td>
        <td>2-4pm</td>
      </tr>
            <tr class="success">
        <td>20</td>
        <td>Chadwick G07</td>
        <td>2-4pm</td>
      </tr>
      <tr class="danger">
        <td>30</td>
        <td>Roberts 401</td>
        <td>2-4pm</td>
      </tr>
      <tr class="info">
        <td>50</td>
        <td>Foster Court 210</td>
        <td>2-4pm</td>
      </tr>
    </tbody>
  </table>
</div>
</div>