<html>
<head>
</head>
<body>

  <div class="loader-wrapper">
    <div class="loader"></div>
    
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>

<div class="map-wrap">

	<object type="image/svg+xml" data="<%= asset_path 'ucl-with-css.svg' %>"></object>
	<object class="popup"></object>
</div>

</body>
</html>