<body class="surprise">

<canvas id="heart"></canvas>
<svg id="paper"></svg>
<svg id="poper"></svg>

<div class="bg"></div>

<svg>
  <defs>
    <filter id="wobble">
      <feTurbulence type="fractalNoise" baseFrequency="0.06" numOctaves="5" result="warp">
        <animate attributeName="baseFrequency" dur="20s" values="0.001 ; 0.0025 ; 0.005" keyTimes="0 ; 0.5; ; 1" repeatCount="indefinite" />

      </feTurbulence>

      <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="20" in="SourceGraphic" in2="warp">
        <animate attributeName="scale" dur="20s" values="0 ; 170 ; 30" keyTimes="0 ; 0.5 ; 1" repeatCount="indefinite" />
      </feDisplacementMap>


    </filter>
  </defs>

</svg>

</body>
